.input{
  display: block;
  width: 40%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.5;
  margin-left: 50px;
  color: #4879ab;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.letra{
    margin-left: 35%;
    font-family: serif;
}

.cabeca{
    background: black;
    color: #ffffff;
}

.tabela{
    margin-left: 6%;
}

.botaoCadastrarNovo {
    margin-left: 25%;
}

.subirLetra {
    padding-bottom: 200px;
}